TASTE_USERNAME=YOUR_USERNAME
# Your client_id gotten by creating a new app at https://simkl.com/settings/developer/ (Max 1000 requests per day)
SIMKL_CLIENT_ID=YOUR_CLIENT_ID
# Your Simkl access token gotten by following the instructions at this link: https://simkl.docs.apiary.io/#reference/authentication-oauth-2.0/
SIMKL_ACCESS_TOKEN=YOUR_ACCESS_TOKEN
HEADLESS_MODE=TRUE
MIN_DELAY=1.5
MAX_DELAY=4
PAGE_LOAD_TIMEOUT=30
OUTPUT_FILE=SimklBackup.json
CACHE_FILE=ratings_cache.json
CACHE_TIMEOUT_DAYS=1