# Python
__pycache__/
*.py[cod]
*$py.class

# Python Virtual Environment
.python-version

# Virtual Environment
venv/
env/

# Env files
.env

# IDE
.vscode/
.idea/

# Project specific
cache*.json
watched_episodes.json
failed_lookups.json
SimklBackup.json
SimklBackup.zip

# Chrome WebDriver
chromedriver*

# Logs
*.log