# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Env files
.env

# IDE
.vscode/
.idea/

# Project specific
SimklBackup.json
ratings_cache.json
ratings_cache.csv

# Chrome WebDriver
chromedriver*

# Logs
*.log